/* Estilização página CADASTRO */
.container-cadastro {
    width: 800px;
    margin: 50px auto; 
    background-color: #24183d;
    border-radius: 10px; 
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-cadastro {
    color: #F39C12;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.logo-cadastro img {
    width: 50px;
    height: 50px;
    margin-right: 10px; 
}

.form {
    width: 100%;
    color: white;
    max-width: 400px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px; 
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    color: black;
    box-sizing: border-box;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form input[type="password"]:focus,
.form textarea:focus {
    border-color: #F39C12;
    outline: none;
    box-shadow: 0 0 8px rgba(243, 156, 18, 0.5);
}

.form-header {
    text-align: center;
    margin-top: 20px;
}

.botao {
    width: 100%;
    padding: 12px;
    background-color: #F39C12;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: #eb8517;
}

.sign-up-link2 {
    text-align: center;
    margin-top: 20px;
    color: #bbb;
}

.sign-up-link2 a {
    color: #F39C12;
    text-decoration: none;
}

.sign-up-link2 a:hover {
    text-decoration: underline;
}
