{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'cadastro/cadastro.css' %}">
    <title>Cadastro</title>
  </head>
  <body>
    <div class='container-cadastro'>
        <div>
            <div class='logo-cadastro'>
                <img src="{% static 'img/36-book.png' %}">
                <span style="font-size:50px;">Bookslog</span>
            </div>
            <div class='form'>
                <form action="{% url 'cadastro' %}" method="POST">{% csrf_token %}
                    <div class='form-header'>
                        
                    </div>
                    <div class='input-group'>
                        <div class='input-box'>
                            <label for='firstname'>Nome</label>
                            <input id='firstname' type='text' name='nome' placeholder='Digite seu nome' required>
                            {% if messages %}
                                <div class="messages">
                                    {% for message in messages %}
                                        <div class="alert {{ message.tags }}" style='color:red'>
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class='input-box'>
                            <label for='email'>email</label>
                            <input id='email' type='email' name='email' placeholder='Digite seu email' required>
                        </div>
                        <div class='input-box'>
                            <label for='password'>Senha</label>
                            <input id='password' type='password' name='senha' placeholder='Digite sua senha' required>
                        </div>
                    </div>
                    <div class='input-submit'>
                        <button class='submit-btn' id='submit' style='color:white;'>Cadastrar-se</button>
                    </div>
                    <div class='sign-up-link2'>
                        <p>Já uma conta?<a href='#' style='color:#E74C3C'>Entrar</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </body>
</html>
