{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <a  href="https://icons8.com/icon/59878/pesquisar"></a><a href="https://icons8.com"></a>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link href="{% static 'telas_site\templates\telas_site\inicial\inicial.css' %}" rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    <title>Equipe</title>
</head>
<body>
    <div class="container4">
        <header style='background-color:#3d2d6a; padding: 20px 20px;  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.3);'>
            <nav class="navbar">
                <div class="nav-logo">
                    <img src="{% static 'img/icon-book32.png' %}">
                    <a href="{% url 'home' %}" class="texto9f">Bookslog</a>
                </div>
                <ul class="lista-navbar">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" style='color:white;'>Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'sobre' %}" style='color:white;'>Sobre nós</a>
                    </li>
                    <li class="nav-item active">
                        <a href="#" style='color:white;'>Equipe</a>
                    </li>
                </ul>
                <div style='display:flex;'>
                    <div class='box'>
                        <form action="{% url 'buscar_livro' %}" method="GET" class='pesq-form'>
                            <input type='text' name='q' placeholder='Pesquise por um livro...' required>
                            <i class="fas fa-search" style='background:transparent; border:none; outline:none;'></i>
                        </form>
                    </div>
                    <button class="btn-default">
                        <i class="fa-solid fa-bars"  onclick="abrir_nav()" style='color:white;'></i>
                    </button>
                </div>
            </nav>
            <div id="menu-lateral" class="menu-lateral">
                <button class="btn-close" onclick="fechar_nav()">&times;</button>
                <ul class="menu-list">
                    <li><a href="{% url 'perfil' %}">Perfil</a></li>
                    <li><a href="#">Configurações</a></li>
                    <li><a href="{% url 'grupos' %}">Grupos</a></li>
                    <li><a href="#">Sair</a></li>
                </ul>
            </div>
        </header>
        <main class="sobre_empregados" style='margin-top:80px;'>
            <h1>Nossa Equipe</h1>
            <div class="fotos-equipe">
                <div class="foto1">
                    <div class="sobre-programadores">
                        <div class="redondo">
                            <img src="{% static 'img/luka1.jpg' %}" class="imagem-redonda">
                        </div>
                        <h2>Programador</h2>
                        <p>Alan Guilherme</p>
                    </div>
                    <div class="sobre-programadores">
                        <div class="redondo">
                            <img src="{% static 'img/emily2.jpg' %}"class="imagem-redonda">
                        </div>
                        <h2>Programadora</h2>
                        <p>Emilly Aquino</p>
                    </div>
                    <div class="sobre-programadores">
                        <div class="redondo">
                            <img src="{% static 'img/gabriel2.jpg' %}" class="imagem-redonda">
                        </div>
                        <h2>Programador</h2>
                        <p>Gabriel Cunha</p>
                    </div>
                    <div class="sobre-programadores">
                        <div class="redondo">
                            <img src="{% static 'img/luis.jpg' %}" class="imagem-redonda">
                        </div>
                        <h2>Programador</h2>
                        <p>Luis Henrique</p>
                    </div>
                    <div class="sobre-programadores">
                        <div class="redondo">
                            <img src="{% static 'img/tamara.jpg' %}"class="imagem-redonda">
                        </div>
                        <h2>Programadora</h2>
                        <p>Tâmara Lucena</p>
                    </div>
                </div>
            </div>
            <div class="sobre-equipe">
                <h2>Sobre os Programadores</h2>
                <p>Apresentamos nossa equipe de desenvolvedores, um grupo dedicado 
                    e apaixonado por transformar ideias em realidade digital. 
                    Combinando habilidades técnicas afiadas e criatividade sem limites, 
                    estamos aqui para enfrentar qualquer desafio que o mundo da programação nos traga.
                    Juntos, formamos um time coeso e colaborativo, sempre buscando novas maneiras de 
                    inovar e superar expectativas. Movidos pela curiosidade e pelo desejo de excelência, 
                    estamos prontos para enfrentar qualquer desafio e trazer soluções criativas para a 
                    vida digital. Se você está em busca de uma equipe comprometida, talentosa e apaixonada 
                    pelo que faz, não precisa procurar mais. Estamos aqui para tornar sua visão uma realidade 
                    digital extraordinária.
                </p>
                <p>
                    Cada membro da equipe foi responsável por algumas funcionalidades do sistema. O Alan foi
                    responsável por elaborar o diagrama de caso de uso do nosso sistema, o Luis foi responsável
                    pelo desenvolvimento do banco de dados, o Gabriel foi responsável pelo design da página e a 
                    estilização dela e a Tâmara foi responsável pela construção do dicionário de dados. Além disso,
                    todos contribuiram na programação back-end e front-end do site, utilizando framework e linguagens
                    de programação.
                </p>
            </div>
        </main>
        <footer class='rodape' style='margin-top:200px;'>
            <div class='roda-1' style='display:flex; justify-content: space-around;'>
              <div>
                <h3 style='display:flex;'>
                  <span style='color:#F39C12; font-size: 28px;'>Bookslog</span>
                  <i class="fa-solid fa-book" style='font-size: 30px; color: #F39C12; margin-left:4px;'></i>
                </h3>
                <p style='color: #ECF0F1;'>
                  Bem-vindo ao nosso Universo Literário!<br> Explore resenhas e recomendações sobre<br> livros e muito mais. Cadastre-se para acesso <br>exclusivo e faça parte da nossa comunidade<br> de leitores apaixonados. Seja bem-vindo à <br>nossa jornada literária!
                </p>
              </div>
              <div>
                <div class='texto-roda'>
                  <h4>LEGAL</h4>
                  <p>Politica de Privacidade</p>
                  <p>Termos de Serviço</p>
                </div>
                <div class='texto-roda'>
                  <h4> AJUDA</h4>
                  <p>Tutoriais</p>
                  <p>Base de Conhecimentos</p>
                  <p>Denunciar Abuso</p>
                </div>
              </div>
              <div class='texto-roda'>
                <h4 >INFORMAÇÕES</h4>
                <p>Sobre Nós</p>
                <p>Como Funciona</p>
                <p>Direitos Autorais</p>
                <p>Parcerias e Apoiadores</p>
                <p>Condições de Servico Premium</p>
                <p>Contate-nos</p>
              </div>
            </div>
            <div class='roda-2'></div>
            <div class='info-ro' style='display:flex; color:#F39C12;'>
              <p>@ 2024 | Desenvolvido por Chocoifs</p>
              <div style='font-size: 24px; color:#F39C12; margin-top:12px;'>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-x-twitter"></i>
              </div>
            </div>
          </footer>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>