{% load static %}
<!--Instituto Federal de Rondônia - IFRO-->
<!--3° Informática Matutino-->
<!--Programação Web-->
<!--Discentes:Alan Guilherme Oliveira Souza, Gabriel Cunha Barbosa, Luis Henrique Oliveira da Silva e Tâmara Lucena Guimarães Goes-->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <a  href="https://icons8.com/icon/59878/pesquisar"></a><a href="https://icons8.com"></a>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link href="{% static 'telas_site\templates\telas_site\inicial\inicial.css' %}" rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div style=''>
            <header style='background-color:#3d2d6a; box-shadow:2px 2px 5px rgba(0, 0, 0, 0.3);'>
                <nav class="navbar">
                    <button class="btn-default" onclick="abrir_nav()">
                        <i class="fa-solid fa-bars" style='color:white;'></i>
                    </button>
                    <div class="nav-logo">
                        <img src="{% static 'img/icon-book32.png' %}">
                        <span class="texto">Bookslog</span>
                    </div>
                    <ul class="lista-navbar">
                        <li class="nav-item">
                            <a href="#" style='color: white; text-decoration: underline'>Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'sobre' %}" style='color:white;'>Sobre nós</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'equipe' %}" style='color:white;'>Equipe</a>
                        </li>
                    </ul>
                </nav>
                <div id="menu-lateral" class="menu-lateral">
                    <button class="btn-close" onclick="fechar_nav()">&times;</button>
                    <ul class="menu-list">
                        <li><a href="{% url 'perfil' %}">Perfil</a></li>
                        <li><a href="#">Configurações</a></li>
                        <li><a href="{% url 'grupos' %}">Grupos</a></li>
                        <li><a href="#">Sair</a></li>
                    </ul>
                </div>
            </header>
            <div class='banner' sytle=''>
                <div class="imagem-main">
                    <img src="{% static 'img/home1.png' %}" alt="Descrição da imagem" style="max-width: 100%; height: auto; padding:80px  ">
                </div>
            </div>
        <div>
            <main>
                <div class='pesq-barra'>
                    <div class='box2'>
                        <input type='text' placeholder='Pesquise por um livro...'>
                        <a href='#'>
                            <i class="fa-solid fa-magnifying-glass" style='color:#34495E'></i>
                        </a>
                    </div>
                </div>
                <div>
                </div>
                <div class="">
                    <div class="total">
                        <div class="livros1">
                            <div class='section-header'>
                                <p style="margin-bottom:10px;"><a href="{% url 'catalogo' %}">Ultimos Lançamentos</a></p>
                                <div class="ver-mais">
                                    <a href="{% url 'catalogo' %}">Ver mais</a>
                                    <i class="fa-solid fa-angle-right"></i>
                                </div>
                            </div>
                            <div class="livros2">
                                <div class="livro">
                                    <div class="retangulo">
                                        <img src="{% static 'img/orgulho.jpg' %}">
                                    </div>
                                    <p>Orgulho e Preconceito</p>
                                </div>
                                <div class="livro">
                                    <div class="retangulo">
                                        <img src="{% static 'img/hipotese.jpg' %}">
                                    </div>
                                    <p>A Hipótese do Amor</p>
                                </div>
                                <div class="livro">
                                    <div class="retangulo">
                                        <img src="{% static 'img/amor.jpg' %}">
                                    </div>
                                    <p>Amor, Teoricamente</p>
                                </div>
                                <div class="livro">
                                    <a href="{% url 'livro' %}">
                                        <div class="retangulo">
                                            <img src="{% static 'img/evlynhugo.jpg' %}">
                                        </div>
                                        <p>Os 7 Maridos de Evlyn Hugo</p>
                                    </a>
                                </div>
                                <div class="livro">
                                    <div class="retangulo">
                                        <img src="{% static 'img/delilah.jpg' %}">
                                    </div>
                                    <p>Delilah Green não está nem ai</p>
                                </div>
                                <div class="livro">
                                    <div class="retangulo">
                                        <img src="{% static 'img/astrid.jpg' %}">
                                    </div>
                                    <p>Astrid Parker Nunca falha</p>
                                </div>
                                <div class="livro">
                                    <div class="retangulo">
                                        <img src="{% static 'img/girls.jpg' %}">
                                    </div>
                                    <p>Girls Like Girls</p>
                                </div>
                                <div class="livro">
                                    <div class="retangulo">
                                        <img src="{% static 'img/jogadaamor.jpg' %}">
                                    </div>
                                    <p>A Jogada do Amor</p>
                                </div>
                                <div class="livro">
                                    <div class="retangulo">
                                        <img src="{% static 'img/garotoscemiterio.jpg' %}">
                                    </div>
                                    <p>Os Garotos do Cemitério</p>
                                </div>
                                <div class="livro">
                                    <div class="retangulo">
                                        <img src="{% static 'img/garotamar.jpg' %}">
                                    </div>
                                    <p>A Garota do Mar</p>
                                </div>
                            </div>
                            <div class='section-header'>
                                <p style="margin-bottom:10px;"><a href="{% url 'catalogo' %}">Recomendados</a></p>
                                <div class="ver-mais">
                                    <a href="{% url 'catalogo' %}">Ver mais</a>
                                    <i class="fa-solid fa-angle-right"></i>
                                </div>
                            </div>
                            <div class="livros2">
                                <div class="livro">
                                    <div class="retangulo">
                                        <img src="{% static 'img/harry.jpg' %}">
                                    </div>
                                    <p>Harry Potter e a Pedra Filosofal</p>
                                </div>
                                <div class="livro">
                                    <div class="retangulo">
                                        <img src="{% static 'img/percy.jpg' %}">
                                    </div>
                                    <p>Percy Jackson e o Ladrão de Raios</p>
                                </div>
                                <div class="livro">
                                    <div class="retangulo">
                                        <img src="{% static 'img/narnia.jpg' %}">
                                    </div>
                                    <p>As Crônicas de Nárnia: O Leão, a Feiticeira e o Guarda-Roupa</p>
                                </div>
                                <div class="livro">
                                    <div class="retangulo">
                                        <img src="{% static 'img/bussolaouro.jpg' %}">
                                    </div>
                                    <p>A Bússola de Ouro</p>
                                </div>
                                <div class="livro">
                                    <div class="retangulo">
                                        <img src="{% static 'img/guerra dos tronos.jpg' %}">
                                    </div>
                                    <p>A Guerra dos Tronos</p>
                                </div>
                                <div class="livro">
                                    <div class="retangulo">
                                        <img src="{% static 'img/torrenegra.jpg' %}">
                                    </div>
                                    <p>A Torre Negra: O Pistoleiro</p>
                                </div>
                                <div class="livro">
                                    <div class="retangulo">
                                        <img src="{% static 'img/heroisolimpo.jpg' %}">
                                    </div>
                                    <p>Os Heróis do Olimpo: O Herói Perdido</p>
                                </div>
                                <div class="livro">
                                    <div class="retangulo">
                                        <img src="{% static 'img/hobbit.jpg' %}">
                                    </div>
                                    <p>O Hobbit</p>
                                </div>
                                <div class="livro">
                                    <div class="retangulo">
                                        <img src="{% static 'img/duna.jpg' %}">
                                    </div>
                                    <p>Duna</p>
                                </div>
                                <div class="livro">
                                    <div class="retangulo">
                                        <img src="{% static 'img/sombraossos.jpg' %}">
                                    </div>
                                    <p>Sombra e Ossos</p>
                                </div>
                            </div>
                            <div class='section-header'>
                                <p style="margin-bottom:10px;"><a href="{% url 'catalogo' %}">Em destaque</a></p>
                                <div class="ver-mais">
                                    <a href="{% url 'catalogo' %}" >Ver mais</a>
                                    <i class="fa-solid fa-angle-right"></i>
                                </div>
                            </div>
                            <div class="livros2">
                                <div class="livro">
                                    <div class="retangulo">
                                        <img src="{% static 'img/orgulho.jpg' %}">
                                    </div>
                                    <p>Orgulho e Preconceito</p>
                                </div>
                                <div class="livro">
                                    <div class="retangulo">
                                        <img src="{% static 'img/hipotese.jpg' %}">
                                    </div>
                                    <p>A Hipótese do Amor</p>
                                </div>
                                <div class="livro">
                                    <div class="retangulo">
                                        <img src="{% static 'img/amor.jpg' %}">
                                    </div>
                                    <p>Amor, Teoricamente</p>
                                </div>
                                <div class="livro">
                                    <a href="{% url 'livro' %}">
                                        <div class="retangulo">
                                            <img src="{% static 'img/evlynhugo.jpg' %}">
                                        </div>
                                        <p>Os 7 Maridos de Evlyn Hugo</p>
                                    </a>
                                </div>
                                <div class="livro">
                                    <div class="retangulo">
                                        <img src="{% static 'img/delilah.jpg' %}">
                                    </div>
                                    <p>Delilah Green não está nem ai</p>
                                </div>
                                <div class="livro">
                                    <div class="retangulo">
                                        <img src="{% static 'img/astrid.jpg' %}">
                                    </div>
                                    <p>Astrid Parker Nunca falha</p>
                                </div>
                                <div class="livro">
                                    <div class="retangulo">
                                        <img src="{% static 'img/girls.jpg' %}">
                                    </div>
                                    <p>Girls Like Girls</p>
                                </div>
                                <div class="livro">
                                    <div class="retangulo">
                                        <img src="{% static 'img/jogadaamor.jpg' %}">
                                    </div>
                                    <p>A Jogada do Amor</p>
                                </div>
                                <div class="livro">
                                    <div class="retangulo">
                                        <img src="{% static 'img/garotoscemiterio.jpg' %}">
                                    </div>
                                    <p>Os Garotos do Cemitério</p>
                                </div>
                                <div class="livro">
                                    <div class="retangulo">
                                        <img src="{% static 'img/garotamar.jpg' %}">
                                    </div>
                                    <p>A Garota do Mar</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='container-cita'>
                    <div  class='citacao '>
                        <div  style='padding:30px;'>
                            <h4 style='font-size:24px;'>Uma vez <span style='color:#F39C12'>{{ citacao.titulo }}</span> disse:</h4>
                            <p style='margin-top:20px;'>"{{ citacao.frase }}"</p>
                        </div>
                        <div>
                            <div class="redondo2">
                                <img src="{{ citacao.imagem.url }}" alt="{{ citacao.titulo }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class='noticias'>
                    <div>
                        <div class='til-not'>
                            <h4>Explore Nossas Categorias de Livros!</h4>
                        </div>
                        <div class='cont-noticia'>
                            <div class="livros2f">
                                <h4 style='margin-bottom:30px; text-align:center; font-size:38px;'><i class="fa-solid fa-baby"></i></h4>
                                <p style='text-align:center;'>Infantil</p>
                            </div>
                            <a href="{% url 'catalogo' %}">
                                <div class="livros2f">
                                    <h4 style='margin-bottom:30px; text-align:center; font-size:38px;'><i class="fa-solid fa-dragon"></i></h4>
                                    <p style='text-align:center;'>Aventura e Fantasia</p>
                                </div>
                            </a>
                            <div class="livros2f">
                                <h4 style='margin-bottom:30px; text-align:center; font-size:38px;'><i class="fa-solid fa-robot"></i></h4>
                                <p style='text-align:center;'>Ficção Científica</p>
                            </div>
                            <div class="livros2f">
                                <h4 style='margin-bottom:30px; text-align:center; font-size:38px;'><i class="fa-solid fa-heart"></i></h4>
                                <p style='text-align:center;'>Romance</p>
                            </div>
                            <div class="livros2f">
                                <h4 style='margin-bottom:30px; text-align:center; font-size:38px;'><i class="fa-solid fa-mask"></i></h4>
                                <p style='text-align:center;'>Quadrinhos/HQs</p>
                            </div>
                            <div class="livros2f">
                                <h4 style='margin-bottom:30px; text-align:center; font-size:38px;'><i class="fa-solid fa-address-book"></i></h4>
                                <p style='text-align:center;'>Biografias</p>
                            </div>
                            <div class="livros2f">
                                <h4 style='margin-bottom:30px; text-align:center; font-size:38px;'><i class="fa-solid fa-ghost"></i></h4>
                                <p style='text-align:center;'>Terror e Suspense</p>
                            </div>
                            <div class="livros2f">
                                <h4 style='margin-bottom:30px; text-align:center; font-size:38px;'><i class="fa-solid fa-user-secret"></i></h4>
                                <p style='text-align:center;'>Mistério e Detetive</p>
                            </div>
                            <div class="livros2f">
                                <h4 style='margin-bottom:30px; text-align:center; font-size:38px;'><i class="fa-solid fa-hand-holding-medical"></i></h4>
                                <p style='text-align:center;'>AutoAjuda</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='noticias'>
                    <div>
                        <div class='til-not'>
                            <h4>Notícias da Semana</h4>
                        </div>
                        <div class='cont-noticia'>
                            <div class="livros2f">
                                <h4 style='margin-bottom:30px;'>Confira 7 livros novos!<br><span style='font-weight: normal;'>por Pedro Oliveira</span></h4>
                                <p>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum</p>
                            </div>
                            <div class="livros2f">
                                <h4 style='margin-bottom:30px;'>Confira 7 livros novos!<br><span style='font-weight: normal;'>por Pedro Oliveira</span></h4>
                                <p>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum</p>
                            </div>
                            <div class="livros2f">
                                <h4 style='margin-bottom:30px;'>Confira 7 livros novos!<br><span style='font-weight: normal;'>por Pedro Oliveira</span></h4>
                                <p>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum</p>
                            </div>
                            <div class="livros2f">
                                <h4 style='margin-bottom:30px;'>Confira 7 livros novos!<br><span style='font-weight: normal;'>por Pedro Oliveira</span></h4>
                                <p>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum</p>
                            </div>
                            <div class="livros2f">
                                <h4 style='margin-bottom:30px;'>Confira 7 livros novos!<br><span style='font-weight: normal;'>por Pedro Oliveira</span></h4>
                                <p>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum</p>
                            </div>
                            <div class="livros2f">
                                <h4 style='margin-bottom:30px;'>Confira 7 livros novos!<br><span style='font-weight: normal;'>por Pedro Oliveira</span></h4>
                                <p>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum</p>
                            </div>
                            <div class="livros2f">
                                <h4 style='margin-bottom:30px;'>Confira 7 livros novos!<br><span style='font-weight: normal;'>por Pedro Oliveira</span></h4>
                                <p>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum</p>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class='rodape'>
                <div class='roda-1' style='display:flex; justify-content: space-around;'>
                  <div>
                    <h3 style='display:flex;'>
                      <span style='color:#F39C12; font-size: 28px;'>Bookslog</span>
                      <i class="fa-solid fa-book" style='font-size: 30px; color: #F39C12; margin-left:4px;'></i>
                    </h3>
                    <p style='color: #ECF0F1;'>
                      Bem-vindo ao nosso Universo Literário!<br> Explore resenhas e recomendações sobre<br> livros e muito mais. Cadastre-se para acesso <br>exclusivo e faça parte da nossa comunidade<br> de leitores apaixonados. Seja bem-vindo à <br>nossa jornada literária!
                    </p>
                  </div>
                  <div>
                    <div class='texto-roda'>
                      <h4>LEGAL</h4>
                      <p>Politica de Privacidade</p>
                      <p>Termos de Serviço</p>
                    </div>
                    <div class='texto-roda'>
                      <h4> AJUDA</h4>
                      <p>Tutoriais</p>
                      <p>Base de Conhecimentos</p>
                      <p>Denunciar Abuso</p>
                    </div>
                  </div>
                  <div class='texto-roda'>
                    <h4 >INFORMAÇÕES</h4>
                    <p>Sobre Nós</p>
                    <p>Como Funciona</p>
                    <p>Direitos Autorais</p>
                    <p>Parcerias e Apoiadores</p>
                    <p>Condições de Servico Premium</p>
                    <p>Contate-nos</p>
                  </div>
                </div>
                <div class='roda-2'></div>
                <div class='info-ro' style='display:flex; color:#F39C12;'>
                  <p>@ 2024 | Desenvolvido por Chocoifs</p>
                  <div style='font-size: 24px; color:#F39C12; margin-top:12px;'>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-square-facebook"></i>
                    <i class="fa-brands fa-square-x-twitter"></i>
                  </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>