{% load static %}

<!DOCTYPE html>

<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <a  href="https://icons8.com/icon/59878/pesquisar"></a><a href="https://icons8.com"></a>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'inicial/inicial.css' %}" type="text/css">
    <title>Tela Inicial</title>
  </head>
  <body>
    <div>
      <header>
        <nav class="navbar" style="display: flex;">
          <div class="nav-logo">
              <div><h2>Bookslog</h2><div>
              <i class="fa-solid fa-book"></i>
          </div>
          <div>
              <button>Entrar</button>
              <button>Cadastrar-se</button>
          </div>
        </nav>
      </header>
    </div>
  </body>
</html>