{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <a  href="https://icons8.com/icon/59878/pesquisar"></a><a href="https://icons8.com"></a>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    <link type="text/css" href="{% static 'livro/livro.css' %}" rel="stylesheet">
    <title>Livro</title>
</head>
<body>
    
    <div class="container3">
        <header style='background-color:#3d2d6a; padding: 20px 20px; box-shadow:2px 2px 5px rgba(0, 0, 0, 0.3);'>
            <nav class="navbar">
                <div class="nav-logo">
                    <img src="{% static 'img/icon-book32.png' %}">
                    <a href="{% url 'home' %}" class="texto9f">Bookslog</a>
                </div>
                <div style='display:flex;'>
                    <div class='box'>
                        <form action="{% url 'buscar_livro' %}" method="GET" class='pesq-form'>
                            <input type='text' name='q' placeholder='Pesquise por um livro...' required>
                            <i class="fa-solid fa-magnifying-glass" style='background:transparent; border:none; outline:none;'></i>
                        </form>
                    </div>
                    <button class="btn-default">
                        <i class="fa-solid fa-bars"  onclick="abrir_nav()" style='color:white;'></i>
                    </button>
                </div>
            </nav>
            <div id="menu-lateral" class="menu-lateral">
                <button class="btn-close" onclick="fechar_nav()">&times;</button>
                <ul class="menu-list">
                    <li><a href="{% url 'perfil' %}">Perfil</a></li>
                    <li><a href="#">Configurações</a></li>
                    <li><a href="{% url 'grupos' %}">Grupos</a></li>
                    <li><a href="{% url 'user-logout' %}">Sair</a></li>
                </ul>
            </div>
        </header>
    </div>
    <main>
        <div class='info-livro'>
            <div style='margin-right:50px;'>
                <div class="retangulo" style='box-shadow:2px 2px 5px rgba(0, 0, 0, 0.3);'>
                    <img src="{{ livro.capa.url }}">
                </div>
                <div style="display:flex; justify-content: space-between; margin-top:4px;">
                    <div style="display:flex;">
                        <i class="fa-regular fa-circle-check" style='margin-right:2px;'></i>
                        <p>6000</p>
                    </div>
                    <div style="display:flex;">
                        <i class="fa-regular fa-heart" style='margin-right:2px;'></i>
                        <p>6000</p>
                    </div>
                    <div style="display:flex;">
                        <i class="fa-solid fa-list" style='margin-right:2px;'></i>
                        <p>6000</p>
                    </div>
                </div>
                <div style='display:flex; justify-content:center; margin-top:12px;'>
                    <div style='background-color:#F39C12; padding:10px 10px; border-radius: 8px; color:white;'>
                        4.2
                    </div>
                    <div style='margin-left:8px;'>
                        <div>
                            <i class="fa-solid fa-star" style='color:yellow;'></i>
                            <i class="fa-solid fa-star" style='color:yellow;'></i>
                            <i class="fa-solid fa-star" style='color:yellow;'></i>
                            <i class="fa-solid fa-star" style='color:yellow;'></i>
                            <i class="fa-solid fa-star" style='color:yellow;'></i>
                        </div>
                        <p>(6000 avaliações)</p>
                    </div>
                </div>
                <div style='text-align:center; margin-top:8px;'>
                    <div>
                        <i class="fa-regular fa-square-check icon-cliq" ></i>
                        <i class="fa-solid fa-book-open-reader icon-cliq" ></i>
                        <i class="fa-regular fa-clock icon-cliq" ></i>
                    </div>
                    <div style='margin-top:8px;'>
                        <i class="fa-regular fa-heart icon-cliq" ></i>
                        <i class="fa-solid fa-rotate-right icon-cliq" ></i>
                        <i class="fa-solid fa-trash icon-cliq"></i>
                    </div>
                </div>
            </div>
            <div>
                <h3> {{livro.titulo}} <br><span style='font-weight: normal; font-size:16px;'> {{livro.autor}} </span></h3>
                <p class="sinopse" style='margin-top:30px;'> {{livro.sinopse}} </p>
                <div class='linha'></div>
                <div style='display:flex; justify-content: space-between; margin-top:20px;'>
                    <div>
                        <p> {{livro.data_publicacao}} </p>
                        <p> {{livro.genero}} </p>
                        <p> {{livro.editora}} </p>
                    </div>
                    <div>
                        <p> {{livro.quantidade_paginas}} </p>
                        <p> {{livro.idioma}} </p>
                        <p> {{livro.classificacao_indicativa}} </p>
                    </div>
                </div>
                <div style='display:flex; justify-content:space-around; margin-top:20px;'>
                    <div class="redondo2">
                        <img src="{{ livro.foto_autor.url }}"class="imagem-redonda2">
                    </div>
                    <div>
                        <h4><strong>{{livro.autor}}</strong></h4>
                        <p class="sinopse">{{livro.bio_autor}}</p>
                    </div>
                </div>
                <div style='display: flex; margin-top:12px;'>
                    <p>Disponível em:</p>
                    <i class="fa-brands fa-amazon" style='color: yellow;'></i>
                    <i class="fa-brands fa-google-play" style='color: green;'></i>
                </div>
            </div>
        </div>
        <div style='display:flex; justify-content:center; margin-top:30px;'>
            <div style='margin-right:100px; background-color:#24183d; padding: 10px 10px; text-align:center; border-radius: 10px;'>
                <p style='color:white;'>Lendo</p>
                <p style='color: #F39C12; font-weight:bold;'>76</p>
            </div>
            <div style='margin-right:100px; background-color:#24183d; padding: 10px 10px; text-align:center; border-radius: 10px;'>
                <p style='color:white;'>Querem Ler</p>
                <p style='color: #F39C12; font-weight:bold;'>76</p>
            </div>
            <div style='margin-right:100px; background-color:#24183d; padding: 10px 10px; text-align:center; border-radius: 10px;'>
                <p style='color:white;'>Relendo</p>
                <p style='color: #F39C12; font-weight:bold;'>76</p>
            </div>
            <div style='margin-right:100px; background-color:#24183d; padding: 10px 10px; text-align:center; border-radius: 10px;'>
                <p style='color:white;'>Largaram</p>
                <p style='color: #F39C12; font-weight:bold;'>76</p>
            </div>
            <div style='background-color:#24183d; padding: 10px 10px; text-align:center; border-radius: 10px;'>
                <p style='color:white;'>Resenhas</p>
                <p style='color: #F39C12; font-weight:bold;'>76</p>
            </div>
        </div>
        <div class="avaliacoes-container">
            <div style='margin-bottom: -10px;'>
                <div style='display:flex; justify-content:space-between; margin-bottom: -40px; margin-top:100px; padding: 0px 140px;'>
                    <p>Avaliações</p>
                    <div style='display:flex;'>
                        <p>Ver mais</p>
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </div>
                <div class='roda-2'></div>
            </div>
            <div class='noticias2'>
                <div style='padding: 0px 100px;'>
                    <div class='cont-noticia2'>
                        <div class="livros3f">
                            <div style='display:flex;'>
                                <i class="fa-regular fa-circle-user" style='font-size:46px; margin-right:10px;'></i>
                                <h4 style='margin-bottom:30px;'>{{resenha.titulo_resenha}}<br><span style='font-weight: normal;'>{{resenha.id_usuario}}<br>{{resenha.nota_resenha}}</span></h4>
                            </div>
                            <p>{{resenha.texto_resenha}}</p>
                        </div>
                        <div class="livros3f">
                            <div style='display:flex;'>
                                <i class="fa-regular fa-circle-user" style='font-size:46px; margin-right:10px;'></i>
                                <h4 style='margin-bottom:30px;'>Uma experiencia diferente...<br><span style='font-weight: normal;'>por Amanda Silva<br><i class="fa-solid fa-star" style='color: #F39C12'></i><i class="fa-solid fa-star" style='color: #F39C12'></i><i class="fa-solid fa-star" style='color: #F39C12'></i><i class="fa-regular fa-star" style='color: #F39C12'></i><i class="fa-regular fa-star" style='color: #F39C12'></i><i class="fa-regular fa-heart" style='margin-left:10px; margin-right:4px;'></i><i class="fa-regular fa-comment"></i></span></h4>
                            </div>
                            <p>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum</p>
                        </div>
                        <div class="livros3f">
                            <div style='display:flex;'>
                                <i class="fa-regular fa-circle-user" style='font-size:46px; margin-right:10px;'></i>
                                <h4 style='margin-bottom:30px;'>Vale a pena dar uma lida<br><span style='font-weight: normal;'>por Joao Gomes<br><i class="fa-solid fa-star" style='color: #F39C12'></i><i class="fa-solid fa-star" style='color: #F39C12'></i><i class="fa-solid fa-star" style='color: #F39C12'></i><i class="fa-regular fa-star" style='color: #F39C12'></i><i class="fa-regular fa-star" style='color: #F39C12'></i><i class="fa-regular fa-heart" style='margin-left:10px; margin-right:4px;'></i><i class="fa-regular fa-comment"></i></span></h4>
                            </div>
                            <p>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum</p>
                        </div>
                        <div class="livros3f">
                            <div style='display:flex;'>
                                <i class="fa-regular fa-circle-user" style='font-size:46px; margin-right:10px;'></i>
                                <h4 style='margin-bottom:30px;'>Gostei, mas tenho ressalvas<br><span style='font-weight: normal;'>por Thaune Trindade<br><i class="fa-solid fa-star" style='color: #F39C12'></i><i class="fa-solid fa-star" style='color: #F39C12'></i><i class="fa-solid fa-star" style='color: #F39C12'><i class="fa-regular fa-star-half-stroke" style='color: #F39C12'></i></i><i class="fa-regular fa-star" style='color: #F39C12'></i><i class="fa-regular fa-heart" style='margin-left:10px; margin-right:4px;'></i><i class="fa-regular fa-comment"></i></span></h4>
                            </div>
                            <p>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum</p>
                        </div>
                        <div class="livros3f">
                            <div style='display:flex;'>
                                <i class="fa-regular fa-circle-user" style='font-size:46px; margin-right:10px;'></i>
                                <h4 style='margin-bottom:30px;'>Odiei!<br><span style='font-weight: normal;'>por Felix Dior<br><i class="fa-solid fa-star" style='color: #F39C12'></i><i class="fa-solid fa-star" style='color: #F39C12'></i><i class="fa-regular fa-star-half-stroke" style='color: #F39C12'></i><i class="fa-regular fa-star" style='color: #F39C12'></i><i class="fa-regular fa-star" style='color: #F39C12'></i><i class="fa-regular fa-heart" style='margin-left:10px; margin-right:4px;'></i><i class="fa-regular fa-comment"></i></span></h4>
                            </div>
                            <p>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum</p>
                        </div>
                        <div class="livros3f">
                            <div style='display:flex;'>
                                <i class="fa-regular fa-circle-user" style='font-size:46px; margin-right:10px;'></i>
                                <h4 style='margin-bottom:30px; '>Os 7 motivos para não ler esse livro<br><span style='font-weight: normal;'>por Kate Blanchett<br><i class="fa-solid fa-star" style='color: #F39C12'></i><i class="fa-regular fa-star-half-stroke" style='color: #F39C12'></i><i class="fa-regular fa-star" style='color: #F39C12'></i><i class="fa-regular fa-star" style='color: #F39C12'></i><i class="fa-regular fa-star" style='color: #F39C12'></i><i class="fa-regular fa-heart" style='margin-left:10px; margin-right:4px;'></i><i class="fa-regular fa-comment"></i></span></h4>
                            </div>
                            <p>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum</p>
                        </div>
                        <div class="livros3f">
                            <div style='display:flex;'>
                                <i class="fa-regular fa-circle-user" style='font-size:46px; margin-right:10px;'></i>
                                <h4 style='margin-bottom:30px;'>Recomendo<br><span style='font-weight: normal;'>por Noiva da Paris Hilton<br><i class="fa-solid fa-star" style='color: #F39C12'></i><i class="fa-solid fa-star" style='color: #F39C12'></i><i class="fa-solid fa-star" style='color: #F39C12'></i><i class="fa-regular fa-star" style='color: #F39C12'></i><i class="fa-regular fa-star" style='color: #F39C12'></i><i class="fa-regular fa-heart" style='margin-left:10px; margin-right:4px;'></i><i class="fa-regular fa-comment"></i></span></h4>
                            </div>
                            <p>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum<br>LoremipsumLoremipsum</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div style='margin-bottom: 10px;'>
                    <div style='display:flex; justify-content:space-between; margin-bottom: -40px; margin-top:60px; padding: 0px 140px;'>
                        <p>Você também pode gostar</p>
                        <div style=''>
                        </div>
                    </div>
                    <div class='roda-2'></div>
                </div>
            </div>
            <div class="total">
                <div class="livros2">
                    <div class="livro">
                        <div class="retangulo2">
                            <img src="{% static 'img/orgulho.jpg' %}">
                        </div>
                        <p>Orgulho e Preconceito</p>
                    </div>
                    <div class="livro">
                        <div class="retangulo2">
                            <img src="{% static 'img/hipotese.jpg' %}">
                        </div>
                        <p>A Hipótese do Amor</p>
                    </div>
                    <div class="livro">
                        <div class="retangulo2">
                            <img src="{% static 'img/amor.jpg' %}">
                        </div>
                        <p>Amor, Teoricamente</p>
                    </div>
                    <div class="livro">
                        <a href="{% url 'livro' %}">
                            <div class="retangulo2">
                                <img src="{% static 'img/evlynhugo.jpg' %}">
                            </div>
                            <p>Os 7 Maridos de Evlyn Hugo</p>
                        </a>
                    </div>
                    <div class="livro">
                        <div class="retangulo2">
                            <img src="{% static 'img/delilah.jpg' %}">
                        </div>
                        <p>Delilah Green não está nem ai</p>
                    </div>
                    <div class="livro">
                        <div class="retangulo2">
                            <img src="{% static 'img/astrid.jpg' %}">
                        </div>
                        <p>Astrid Parker Nunca falha</p>
                    </div>
                    <div class="livro">
                        <div class="retangulo2">
                            <img src="{% static 'img/girls.jpg' %}">
                        </div>
                        <p>Girls Like Girls</p>
                    </div>
                    <div class="livro">
                        <div class="retangulo2">
                            <img src="{% static 'img/jogadaamor.jpg' %}">
                        </div>
                        <p>A Jogada do Amor</p>
                    </div>
                    <div class="livro">
                        <div class="retangulo2">
                            <img src="{% static 'img/garotoscemiterio.jpg' %}">
                        </div>
                        <p>Os Garotos do Cemitério</p>
                    </div>
                    <div class="livro">
                        <div class="retangulo2">
                            <img src="{% static 'img/garotamar.jpg' %}">
                        </div>
                        <p>A Garota do Mar</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class='rodape'>
        <div class='roda-1'>
          <div>
            <h3 style='display:flex;'>
              <span style='color:#F39C12; font-size: 28px;'>Bookslog</span>
              <i class="fa-solid fa-book" style='font-size: 30px; color: #F39C12; margin-left:4px;'></i>
            </h3>
            <p style='color: #ECF0F1;'>
              Bem-vindo ao nosso Universo Literário!<br> Explore resenhas e recomendações sobre<br> livros e muito mais. Cadastre-se para acesso <br>exclusivo e faça parte da nossa comunidade<br> de leitores apaixonados. Seja bem-vindo à <br>nossa jornada literária!
            </p>
          </div>
          <div>
            <div class='texto-roda'>
              <h4>LEGAL</h4>
              <p>Politica de Privacidade</p>
              <p>Termos de Serviço</p>
            </div>
            <div class='texto-roda'>
              <h4> AJUDA</h4>
              <p>Tutoriais</p>
              <p>Base de Conhecimentos</p>
              <p>Denunciar Abuso</p>
            </div>
          </div>
          <div class='texto-roda'>
            <h4 >INFORMAÇÕES</h4>
            <p>Sobre Nós</p>
            <p>Como Funciona</p>
            <p>Direitos Autorais</p>
            <p>Parcerias e Apoiadores</p>
            <p>Condições de Servico Premium</p>
            <p>Contate-nos</p>
          </div>
        </div>
        <div class='roda-2'></div>
        <div style='display:flex; justify-content:space-around; color:#F39C12;'>
          <p>@ 2024 | Desenvolvido por Chocoifs</p>
          <div style='font-size: 24px; color:#F39C12; margin-top:12px;'>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
          </div>
        </div>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>