{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <a  href="https://icons8.com/icon/59878/pesquisar"></a><a href="https://icons8.com"></a>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link type="text/css" href="{% static 'css/estilos.css' %}" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <main class="conteiner2">
        <div class='lado-branco'>
            <div class='login-box'>
                <div class='login-header'>
                    <header>Login</header>
                </div>
                <form action="{% url 'login' %}" method='POST'>{% csrf_token%}
                    <div class='input-box'>
                        <label for='email'>email</label>
                        <input id='email' type='email' name='email' placeholder='Digite seu email' required>
                        {% if messages %}
                            <div class="messages">
                                {% for message in messages %}
                                    <div class="alert {{ message.tags }}" style='color:red'>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class='input-box'>
                        <label for='password'>Senha</label>
                        <input id='password' type='password' name='senha' placeholder='Digite sua senha' required>
                    </div>
                    <div class='input-submit'>
                        <button class='submit-btn' id='submit' style='color:white;'>Entrar</button>
                    </div>
                    <div class='sign-up-link'>
                        <p>Não possui uma conta?<a href='#'>Cadastrar-se</a></p>
                    </div>
                </form>
                <div class='forgot'>
                    <section>
                        <input type='checkbox' id='check'>
                        <label for='check'>Me Lembrar</label>
                    </section>
                    <section>
                        <a href='#'>Esqueci minha senha</a>
                    </section>
                </div>
            </div>
        </div>
        <div class='azul'>
            <img src="{% static 'img/36-book.png' %}">
            <p>Bookslog</p>
        </div>
    </main>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>