{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <a  href="https://icons8.com/icon/59878/pesquisar"></a><a href="https://icons8.com"></a>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link href="{% static 'telas_site\templates\telas_site\inicial\inicial.css' %}" rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    <title>Perfil</title>
</head>
<body>
    <div class="container3">
        <header style='background-color:#3d2d6a; box-shadow:2px 2px 5px rgba(0, 0, 0, 0.3); padding: 20px 20px;'>
            <nav class="navbar">
                <div class="nav-logo">
                    <img src="{% static 'img/icon-book32.png' %}">
                    <a href="{% url 'home' %}" class="texto9f">Bookslog</a>
                </div>
                <ul class="lista-navbar">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" style='color:white;'>Home</a>
                    </li>
                    <li class="nav-item active">
                        <a href="{% url 'sobre' %}" style='color:white;'>Sobre nós</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'equipe' %}" style='color:white;'>Equipe</a>
                    </li>
                </ul>
                <div style='display:flex;'>
                    <div class='box'>
                        <form action="{% url 'buscar_livro' %}" method="GET" class='pesq-form'>
                            <input type='text' name='q' placeholder='Pesquise por um livro...' required>
                            <i class="fa-solid fa-magnifying-glass" style='background:transparent; border:none; outline:none;'></i>
                        </form>
                    </div>
                    <button class="btn-default">
                        <i class="fa-solid fa-bars"  onclick="abrir_nav()" style='color:white;'></i>
                    </button>
                </div>
            </nav>
            <div id="menu-lateral" class="menu-lateral">
                <button class="btn-close" onclick="fechar_nav()">&times;</button>
                <ul class="menu-list">
                    <li><a href="#">Perfil</a></li>
                    <li><a href="#">Configurações</a></li>
                    <li><a href="{% url 'grupos' %}">Grupos</a></li>
                    <li><a href="{% url 'user-logout' %}">Sair</a></li>
                </ul>
            </div>
        </header>
        <main class="" style='margin-top:80px;'>
            <div style='display: flex; flex-direction:column; align-items:center;'>
                <div style='display: flex; flex-direction:column; align-items:center;'>
                    <div style='width: 100%; max-width: 800px;'>
                        <div style='display:flex; justify-content:space-between; align-items:center;'>
                            <div style='display:flex; align-items:center;'>
                                <div class="redondo3" style='margin-right: 10px;'>
                                    {% if user.usuario.imagem_perfil %}
                                        <img src="{{ user.usuario.imagem_perfil.url }}" class="imagem-redonda3" id="profileImage">
                                    {% else %}
                                        <img src="{% static 'img/user2.png' %}" class="imagem-redonda3" id="profileImage">
                                    {% endif %}
                                </div>
                                <p style='font-size: 24px; font-weight: 500;'>{{ user.username }}</p>
                            </div>
                            <div style='display:flex;'>
                                <div style='margin-right: 20px; text-align:center;'>
                                    <p style='color: #F39C12; font-weight:bold;'>46</p>
                                    <p>Seguidores</p>
                                </div>
                                <div style='text-align:center;'>
                                    <p style='color: #F39C12; font-weight:bold;'>46</p>
                                    <p>Seguindo</p>
                                </div>
                            </div>
                            <div class="">
                                <div>
                                    <button class="button1" href="#" onclick="editBio()">Editar Bio</button>
                                </div>
                                <div style='margin-top:4px;'>
                                    <button class="button1" href="#" onclick="changeProfileImage()">Foto Perfil</button>
                                </div>
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button class="button1" style='margin-top:4px;' type="submit">Salvar</button>
                                </form>                                
                            </div>
                        </div>
                        
                        <div style='margin-top:10px;'>
                            <p id="bioText">Oi, eu sou Alex e sou um apaixonado por literatura. Desde pequeno, encontrei nos livros uma forma de escapar da realidade e explorar novas ideias e mundos. Leio uma variedade de gêneros, incluindo ficção, não-ficção, fantasia e clássicos da literatura.</p>
                        </div>
                        <div id="bioModal" class="modal">
                            <div class="modal-content">
                                <textarea class='textobio' id="bioInput" rows="5" cols="50" style="display:none;"></textarea>
                                <br><br>
                                <button class='editar' onclick="saveBio()">Salvar</button>
                                <button class='editar' onclick="closeModal()">Cancelar</button>
                            </div>
                        </div>
                    </div>
                    <div style='width: 100%; max-width: 800px; display:flex; justify-content:space-between; margin-top:30px;'>
                        <div style='background-color:#2C3E50; padding: 10px; text-align:center; border-radius: 10px;'>
                            <p style='color:white;'>Lendo</p>
                            <p style='color: #F39C12; font-weight:bold;'>{{ livros_lendo }}</p>
                        </div>
                        <div style='background-color:#2C3E50; padding: 10px; text-align:center; border-radius: 10px;'>
                            <p style='color:white;'>Quer Ler</p>
                            <p style='color: #F39C12; font-weight:bold;'>{{ livros_quero_ler }}</p>
                        </div>
                        <div style='background-color:#2C3E50; padding: 10px; text-align:center; border-radius: 10px;'>
                            <p style='color:white;'>Relendo</p>
                            <p style='color: #F39C12; font-weight:bold;'>{{ livros_relendo }}</p>
                        </div>
                        <div style='background-color:#2C3E50; padding: 10px; text-align:center; border-radius: 10px;'>
                            <p style='color:white;'>Largou</p>
                            <p style='color: #F39C12; font-weight:bold;'>{{ livros_larguei }}</p>
                        </div>
                        <div style='background-color:#2C3E50; padding: 10px; text-align:center; border-radius: 10px;'>
                            <p style='color:white;'>Resenhas</p>
                            <p style='color: #F39C12; font-weight:bold;'> {{ total_resenhas }} </p>
                        </div>
                    </div>
                    <div style='display:flex; '>
                        <div>
                            <div style='margin-top: 30px;'>
                                <p>Livros Favoritos</p>
                                <div class='roda-3'  style='margin-top:-40px;'></div>
                            </div>
                            <div style='display:flex; justify-content:space-between; margin-top:12px;'>
                                <div class="retangulo">
                                    <img src="{% static 'img/orgulho.jpg' %}">
                                </div>
                                <div class="retangulo">
                                    <img src="{% static 'img/harry.jpg' %}">
                                </div>
                                <div class="retangulo">
                                    <img src="{% static 'img/heroisolimpo.jpg' %}">
                                </div>
                                <div class="retangulo">
                                    <img src="{% static 'img/torrenegra.jpg' %}">
                                </div>
                            </div>
                            <div style='margin-top: 30px;'>
                                <p>Metas de Leitura</p>
                                <div class='roda-3'  style='margin-top:-40px;'></div>
                            </div>
                            <div class="total5" style='margin-top:12px'>
                                <div class="livros5">
                                    <div class="livro">
                                        <div class="retangulo">
                                            <img src="{% static 'img/orgulho.jpg' %}">
                                        </div>
                                        <p>Orgulho e Preconceito</p>
                                    </div>
                                    <div class="livro">
                                        <div class="retangulo">
                                            <img src="{% static 'img/hipotese.jpg' %}">
                                        </div>
                                        <p>A Hipótese do Amor</p>
                                    </div>
                                    <div class="livro">
                                        <div class="retangulo">
                                            <img src="{% static 'img/amor.jpg' %}">
                                        </div>
                                        <p>Amor, Teoricamente</p>
                                    </div>
                                    <div class="livro">
                                        <a href="{% url 'livro' %}">
                                            <div class="retangulo">
                                                <img src="{% static 'img/evlynhugo.jpg' %}">
                                            </div>
                                            <p>Os 7 Maridos de Evlyn Hugo</p>
                                        </a>
                                    </div>
                                    <div class="livro">
                                        <div class="retangulo">
                                            <img src="{% static 'img/delilah.jpg' %}">
                                        </div>
                                        <p>Delilah Green não está nem ai</p>
                                    </div>
                                    <div class="livro">
                                        <div class="retangulo">
                                            <img src="{% static 'img/astrid.jpg' %}">
                                        </div>
                                        <p>Astrid Parker Nunca falha</p>
                                    </div>
                                    <div class="livro">
                                        <div class="retangulo">
                                            <img src="{% static 'img/girls.jpg' %}">
                                        </div>
                                        <p>Girls Like Girls</p>
                                    </div>
                                    <div class="livro">
                                        <div class="retangulo">
                                            <img src="{% static 'img/jogadaamor.jpg' %}">
                                        </div>
                                        <p>A Jogada do Amor</p>
                                    </div>
                                    <div class="livro">
                                        <div class="retangulo">
                                            <img src="{% static 'img/garotoscemiterio.jpg' %}">
                                        </div>
                                        <p>Os Garotos do Cemitério</p>
                                    </div>
                                    <div class="livro">
                                        <div class="retangulo">
                                            <img src="{% static 'img/garotamar.jpg' %}">
                                        </div>
                                        <p>A Garota do Mar</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script>
            document.getElementById("dropdownIcon").addEventListener("click", function(event) {
                event.stopPropagation(); 
                let menu = document.getElementById("dropdownMenu");
                menu.classList.toggle("show");
            });
        
            document.addEventListener("click", function(event) {
                let menu = document.getElementById("dropdownMenu");
                if (!menu.contains(event.target) && event.target.id !== "dropdownIcon") {
                    menu.classList.remove("show");
                }
            });

            function editBio() {
                var bioText = document.getElementById("bioText");
                var bioInput = document.getElementById("bioInput");

                bioInput.value = bioText.textContent || bioText.innerText;
                
                var modal = document.getElementById("bioModal");
                modal.style.display = "block";

                bioInput.style.display = "block"; 
            }

            function saveBio() {
                var bioText = document.getElementById("bioText");
                var bioInput = document.getElementById("bioInput");

                bioText.textContent = bioInput.value;
                
                closeModal();
            }

            function closeModal() {
                var modal = document.getElementById("bioModal");
                modal.style.display = "none";

                var bioInput = document.getElementById("bioInput");
                bioInput.style.display = "none";
            }

            window.onclick = function(event) {
                var modal = document.getElementById("bioModal");
                if (event.target == modal) {
                    closeModal();
                }
            }

            function changeProfileImage() {
                var fileInput = document.createElement('input');
                fileInput.type = 'file';
                fileInput.accept = 'image/*';
            
                fileInput.onchange = function(event) {
                    var file = event.target.files[0];
                    var formData = new FormData();
                    formData.append('imagem_perfil', file);
            
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/editar-perfil/', true);
                    xhr.setRequestHeader('X-CSRFToken', document.querySelector('[name=csrfmiddlewaretoken]').value);
            
                    xhr.onload = function() {
                        if (xhr.status === 200) {
                            var image = document.getElementById("profileImage");
                            image.src = URL.createObjectURL(file);
                        }
                    };
            
                    xhr.send(formData);
                };
            
                fileInput.click();
            }            

        </script>
        <footer class='rodape' style='margin-top:200px;'>
            <div class='roda-1' style='display:flex; justify-content: space-around;'>
              <div>
                <h3 style='display:flex;'>
                  <span style='color:#F39C12; font-size: 28px;'>Bookslog</span>
                  <i class="fa-solid fa-book" style='font-size: 30px; color: #F39C12; margin-left:4px;'></i>
                </h3>
                <p style='color: #ECF0F1;'>
                  Bem-vindo ao nosso Universo Literário!<br> Explore resenhas e recomendações sobre<br> livros e muito mais. Cadastre-se para acesso <br>exclusivo e faça parte da nossa comunidade<br> de leitores apaixonados. Seja bem-vindo à <br>nossa jornada literária!
                </p>
              </div>
              <div>
                <div class='texto-roda'>
                  <h4>LEGAL</h4>
                  <p>Politica de Privacidade</p>
                  <p>Termos de Serviço</p>
                </div>
                <div class='texto-roda'>
                  <h4> AJUDA</h4>
                  <p>Tutoriais</p>
                  <p>Base de Conhecimentos</p>
                  <p>Denunciar Abuso</p>
                </div>
              </div>
              <div class='texto-roda'>
                <h4 >INFORMAÇÕES</h4>
                <p>Sobre Nós</p>
                <p>Como Funciona</p>
                <p>Direitos Autorais</p>
                <p>Parcerias e Apoiadores</p>
                <p>Condições de Servico Premium</p>
                <p>Contate-nos</p>
              </div>
            </div>
            <div class='roda-2'></div>
            <div class='info-ro' style='display:flex; color:#F39C12;'>
              <p>@ 2024 | Desenvolvido por Chocoifs</p>
              <div style='font-size: 24px; color:#F39C12; margin-top:12px;'>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-x-twitter"></i>
              </div>
            </div>
          </footer>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>