{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <a  href="https://icons8.com/icon/59878/pesquisar"></a><a href="https://icons8.com"></a>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link href="{% static 'telas_site\templates\telas_site\inicial\inicial.css' %}" rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    <title>Sobre nós</title>
</head>
<body>
    <div class="container3">
        <header style='background-color:#3d2d6a; box-shadow:2px 2px 5px rgba(0, 0, 0, 0.3); padding: 20px 20px;'>
            <nav class="navbar">
                <div class="nav-logo">
                    <img src="{% static 'img/icon-book32.png' %}">
                    <a href="{% url 'home' %}" class="texto9f">Bookslog</a>
                </div>
                <ul class="lista-navbar">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" style='color:white;'>Home</a>
                    </li>
                    <li class="nav-item active">
                        <a href="#" style='color:white;'>Sobre nós</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'equipe' %}" style='color:white;'>Equipe</a>
                    </li>
                </ul>
                <div style='display:flex;'>
                    <div class='box'>
                        <input type='text' placeholder='Pesquise por um livro...'>
                        <a href='#'>
                            <i class="fa-solid fa-magnifying-glass" style='color:#34495E'></i>
                        </a>
                    </div>
                    <button class="btn-default">
                        <i class="fa-solid fa-bars"  onclick="abrir_nav()" style='color:white;'></i>
                    </button>
                </div>
            </nav>
            <div id="menu-lateral" class="menu-lateral">
                <button class="btn-close" onclick="fechar_nav()">&times;</button>
                <ul class="menu-list">
                    <li><a href="{% url 'perfil' %}">Perfil</a></li>
                    <li><a href="#">Configurações</a></li>
                    <li><a href="{% url 'grupos' %}">Grupos</a></li>
                    <li><a href="#">Sair</a></li>
                </ul>
            </div>
        </header>
        <main class="principal" style='margin-top:80px;'>
            <h1 style='font-size:40px;'>Bem-vindo ao nosso universo literário!</h1>
            <div class="conteudo-sobre">
                <p>
                    Neste refúgio virtual, cada livro se torna uma janela 
                    aberta para um universo único, convidando-nos a explorar 
                    paisagens inexploradas, conhecer personagens cativantes 
                    e experimentar emoções intensas. Aqui, nos perdemos nas 
                    páginas como em um labirinto encantado, onde o tempo 
                    desacelera e a imaginação voa livremente. Cada obra é mais 
                    do que uma simples história; é um convite para uma jornada 
                    de autodescoberta, um mergulho profundo nas profundezas da 
                    alma humana.
                </p>
                <p>Neste cantinho acolhedor, criamos um espaço para os apaixonados 
                    por livros se reunirem, compartilharem suas paixões e descobrirem 
                    novas aventuras literárias. Somos um coletivo de sonhadores, unidos 
                    pela crença no poder transformador das palavras e pela vontade de 
                    explorar as infinitas possibilidades que os livros oferecem. Aqui, 
                    cada página virada é uma oportunidade para expandir nossos horizontes, 
                    desafiar nossas perspectivas e conectar-nos com outras mentes curiosas 
                    que compartilham nossa paixão pela leitura.
                </p>
                <div class="texto_sobre">
                    <img src="{% static 'img/leitura2.jpg' %}">
                    <p>
                        Além disso, este espaço é um convite para a celebração da diversidade 
                        literária, onde diferentes vozes e perspectivas são valorizadas e celebradas. 
                        Aqui, você encontrará obras que abrangem uma ampla gama de gêneros, estilos 
                        e temas, desde clássicos intemporais até as mais recentes inovações da 
                        literatura contemporânea. Estamos comprometidos em promover a inclusão e a 
                        representatividade, garantindo que todos os leitores encontrem histórias que 
                        ressoem com suas experiências e identidades.
                    </p>
                    <img src="{% static 'img/leitura3.jpg' %}">
                </div>
                <p>
                    Seja você um devorador voraz de romances, um apreciador de poesia, um explorador 
                    dos confins do universo da fantasia, ou um entusiasta ávido por obras de não-ficção, 
                    há sempre algo especial esperando por você aqui. Este é um espaço de encontro, de 
                    troca de ideias e de descoberta mútua, onde as fronteiras entre os mundos fictícios 
                    e reais se dissolvem, dando lugar a uma comunidade unida pelo amor à literatura.
                </p>
                <p>
                    Então, venha fazer parte desta jornada extraordinária, onde cada página virada 
                    é uma aventura, e cada livro é uma porta para um novo horizonte de possibilidades. 
                    Estamos ansiosos para compartilhar essa viagem com você, para explorar juntos os 
                    tesouros escondidos nos corredores da imaginação e para criar memórias duradouras 
                    através das histórias que nos conectam. Seja bem-vindo a este espaço mágico, onde 
                    os livros são mais do que meras palavras impressas; são portais para infinitas 
                    realidades e fontes de inspiração inesgotável.
                </p>
            </div>
        </main>
        <footer class='rodape' style='margin-top:200px;'>
            <div class='roda-1' style='display:flex; justify-content: space-around;'>
              <div>
                <h3 style='display:flex;'>
                  <span style='color:#F39C12; font-size: 28px;'>Bookslog</span>
                  <i class="fa-solid fa-book" style='font-size: 30px; color: #F39C12; margin-left:4px;'></i>
                </h3>
                <p style='color: #ECF0F1;'>
                  Bem-vindo ao nosso Universo Literário!<br> Explore resenhas e recomendações sobre<br> livros e muito mais. Cadastre-se para acesso <br>exclusivo e faça parte da nossa comunidade<br> de leitores apaixonados. Seja bem-vindo à <br>nossa jornada literária!
                </p>
              </div>
              <div>
                <div class='texto-roda'>
                  <h4>LEGAL</h4>
                  <p>Politica de Privacidade</p>
                  <p>Termos de Serviço</p>
                </div>
                <div class='texto-roda'>
                  <h4> AJUDA</h4>
                  <p>Tutoriais</p>
                  <p>Base de Conhecimentos</p>
                  <p>Denunciar Abuso</p>
                </div>
              </div>
              <div class='texto-roda'>
                <h4 >INFORMAÇÕES</h4>
                <p>Sobre Nós</p>
                <p>Como Funciona</p>
                <p>Direitos Autorais</p>
                <p>Parcerias e Apoiadores</p>
                <p>Condições de Servico Premium</p>
                <p>Contate-nos</p>
              </div>
            </div>
            <div class='roda-2'></div>
            <div class='info-ro' style='display:flex; color:#F39C12;'>
              <p>@ 2024 | Desenvolvido por Chocoifs</p>
              <div style='font-size: 24px; color:#F39C12; margin-top:12px;'>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-x-twitter"></i>
              </div>
            </div>
          </footer>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>