.info-livro {
    display: flex;
    justify-content:center;
    margin-top: 60px;
}

.linha {
    padding: 20px ;
    border-bottom: 1px solid #BDC3C7;
    width: 100%;
    margin: 0 auto;
}

.redondo2 {
    width: 100px;
    height: 100px;
    overflow: hidden; 
    border-radius: 50%;
}

.imagem-redonda2 {
    display: block;
    width: 100%;
    height: auto; 
}

.retangulo {
    width: 200px; 
    height: 290px;
    overflow: hidden;
}

.retangulo img {
    width: 100%; 
    height: auto; 
    display: block;
    color:rgb(207, 205, 205);
}


.icon-cliq {
    color: #22438C;
    padding:10px 10px;
    border-radius: 8px;
    border: 1px solid #22438C;
}

.icon-cliq:hover {
    transform: scale(1.1);
    background-color: #F39C12;
    color: white;
    border: 1px solid #F39C12;
}

.roda-2 {
    padding: 20px ;
    border-bottom: 1px solid black;
    width: 80%;
    margin: 0 auto;
}

.noticias2 {
    padding: 0px 40px;
}


.cont-noticia2 {
    display: flex;
    overflow-x: auto; 
    gap: 20px; 
    padding: 20px 0;
    scroll-snap-type: x mandatory; 
}


.rodape {
    background-color: #24183d;
    padding: 100px 10px;
}

.roda-1 {
    display:flex;
    justify-content: space-around;
}

.texto-roda > p {
    color: #ECF0F1;
}

.texto-roda > h4 {
    color:#F39C12;
}

.roda-2 {
    padding: 20px ;
    border-bottom: 1px solid #BDC3C7;
    width: 80%;
    margin: 0 auto;
}

.retangulo2 {
    width: 120px; 
    height: 175px;
    overflow: hidden;
}

.retangulo2 img {
    width: 100%; 
    height: auto; 
    display: block;
}

.livro {
    text-align: center;
    min-width: 140px; 
}

.total {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 12px;
}

.box {
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.box:hover input{
    width:400px;
}

.box input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

.box a .fas{
    color: #1daf;
    font-size: 18px;
}